extends layout

block content
    h4.text-center.mt-5 Say hi!
    .row
        iframe.mx-auto.mt-2(width='400' height='600' src='https://console.dialogflow.com/api-client/demo/embedded/f707fac9-9ef1-4fbd-b748-1e665bd660bb')